footer {
    background-color: #111111;
    padding-top: 190px;

}

footer .container{
    width: 1440px;
    height: 796px;
    flex-direction: row;
    justify-content: space-between;
}

footer .container h1 {
    font-size: 25px;
    line-height: 31px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    padding-bottom: 20px;
}

footer .container .about p{
    width: 359px;
    height: 247px;
    font-size: 18px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

footer .container .heading-two ul{
    list-style-type: disc;
    padding-left: 45px;
}

footer .container .heading-two ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    line-height: 30px;
}

footer .container .heading-three p{
    padding-left: 30px;
}

footer .container .heading-three .phone {
    font-size: 18px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

footer .container .heading-three .phone i{
    width: 15px;
    height: 15px;
    color: #b2fcff;
    padding-right: 7px;
}

footer .container .heading-three .address{
    font-size: 18px;
    line-height: 41px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

footer .container .heading-three .address i{
    width: 18px;
    height: 13px;
    color: #b1fbff;
    padding-right: 7px;
}

footer .container .heading-three .email{
    font-size: 18px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

footer .container .heading-three .email i{
    width: 16px;
    height: 12px;
    border-radius: 1px;
    color: #b2fcff;
    padding-right: 7px;
}